{% extends 'base.html.twig' %}

{% block title %}LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row">
        <div class="col" id="loginForm">
            <form action="{{ path('app_login') }}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Email:</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username | default('test@test.com') }}" required autocomplete="username webauthn">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="_password" required value="granted">
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>

    <footer>
        {% include 'visualFlow.html.twig' %}
    </footer>
{% endblock %}
{% block javascripts %}
    {{parent() }}
    <script src="/visualFlow/visualFlow.js"></script>
    <script>
        ready(() =>{
            authenticate();
        });
    </script>
{% endblock %}
