{% extends 'base.html.twig' %}

{% block title %}LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row">
        <div class="col" id="loginForm">
            <form action="{{ path('app_login') }}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Email:</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username | default('test@test.com') }}" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="_password" required value="granted">
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div class="col" id="webauthnForm">
            <h3>Connect with passkey</h3>
            <button onclick="authenticate()" class="btn btn-secondary" id="loginAsBtn">Login as user <span></span></button>
            <button onclick="resetCookie()" class="btn btn-secondary">Login with my password</button>
        </div>
    </div>

    <footer>
        {% include 'visualFlow.html.twig' %}
    </footer>
{% endblock %}
{% block javascripts %}
    {{parent() }}
    <script src="/visualFlow/visualFlow.js"></script>
    <script>
        ready(() => {
            const lastLoggedInUserEmail = localStorage.getItem("lastLoggedInUserEmail");

            if (lastLoggedInUserEmail) {
                document.getElementById('loginAsBtn').querySelector('span:nth-of-type(1)').innerHTML = lastLoggedInUserEmail;
                document.getElementById('loginForm').remove();
            } else {
                document.getElementById('webauthnForm').remove();
                document.getElementById('visualFlow').remove();
            }
        })

        resetCookie = () => {
            localStorage.removeItem('lastLoggedInUserEmail');
            localStorage.removeItem('credId');
            document.location.reload();
        }
    </script>
{% endblock %}
