{% extends 'base.html.twig' %}

{% block title %}Hello SecuredController!{% endblock %}

{% block body %}
<div>
    <h1>Top-secret area 🤐</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>webauthn-demo-symfony/src/Controller/TopSecretAreaController.php</code></li>
        <li>Your template at <code>webauthn-demo-symfony/templates/top-secret-area/index.html.twig</code></li>
    </ul>

    <img src="/top-secret.gif" alt="Top-secret"/>
</div>
{% endblock %}
